{% block sw_cms_block_text_slider %}
    <div class="sw-cms-block-text-slider">
        <slot name="slider">{% block sw_cms_block_text_slider_slot_slider %}{% endblock %}</slot>
     </div>
{% endblock %}
