{% block sw_cms_block_text_slider_preview %}
    <div class="sw-cms-preview-block-text-slider">
        <div class="image-wrapper">
            <div class="image-text">
                <h6>Lorem</h6>
                <p>Lorem ipsum dolor sit amet, consectetur</p>
                <span>Image link</span>
            </div>
        </div>
    </div>
{% endblock %}
